<!DOCTYPE html>
<html lang="en-IE">
    <head>
        <%- include("partials/metadata.html") -%>

        <title><%= artistInfo.name %> | Lyric Loop</title>
    </head>

    <body>
        <%- include("partials/header.html") -%>

        <main>
            <h1><%= artistInfo.name %></h1>

            <% if (artistInfo.image) { %>
                <img src="<%= artistInfo.image %>" alt="Image of <%= artistInfo.name %>" loading="lazy">
            <% } else { %>
                <p>Artist image not available.</p>
            <% } %>

            <h2>Biography</h2>
            <% if (artistInfo.bio && artistInfo.bio.trim()) { %>
                <p><%= artistInfo.bio %></p>
            <% } else { %>
                <p>Biography not available.</p>
            <% } %>

            <h2>Similar Artists</h2>
            <% if (Array.isArray(artistInfo.similarArtists)  && artistInfo.similarArtists.length > 0) { %>
                <p>
                    <%- artistInfo.similarArtists
                        .map(artist => `<a href="/artist/${artist}">${artist}</a>`)
                        .join(", "); %>
                </p>
            <% } else { %>
                <p>No similar artists found.</p>
            <% } %>

            <h2>Top 10 Songs</h2>
            <% if (Array.isArray(artistInfo.topTracks) && artistInfo.topTracks.length > 0) { %>
                <ol class="featured-list">
                    <% artistInfo.topTracks.forEach((track, index) => { %>
                        <li class="featured-item">
                            <!-- TODO add album covers, description?, etc -->

                            <div class="info">
                                <h2 class="name">
                                    <%= index + 1 %>.
                                    <a href="/<%= artistInfo.name %>-<%= track.name %>-lyrics">
                                        <%= track.name %>
                                    </a>
                                </h2>

                                <p class="details"><b>Listeners:</b> <%= Number(track.listeners).toLocaleString() %></p>
                            </div>
                        </li>
                    <% }); %>
                </ol>
            <% } else { %>
                <p>Top 10 songs not available.</p>
            <% } %>
        </main>

        <%- include("partials/footer.html") -%>
    </body>
</html>
