<!DOCTYPE html>
<html lang="en-IE">
    <head>
        <%- include("partials/metadata.html") -%>

        <title>Charts | Lyric Loop</title>
    </head>
    <body>
        <%- include("partials/header.html") -%>

        <main>
            <h1 class="section-title">Top 10 Songs</h1>

            <ol class="featured-list">
                <% chartData.forEach((item, index) => { %>
                    <li class="featured-item">
                        <img
                            src="<%= item.image %>"
                            alt="Image of <%= item.artist %>"
                            class="featured-image"
                            loading="lazy"
                        >

                        <div class="info">
                            <h2 class="name"><%= index + 1 %>.
                                <a href="/<%= item.artist.toLowerCase().replace(/[^a-z0-9\s-]/g, '').replace(/\s+/g, '-') %>-<%= item.track.toLowerCase().replace(/[^a-z0-9\s-]/g, '').replace(/\s+/g, '-') %>-lyrics">
                                    <%= item.track %>
                                </a>
                            </h2>

                            <p class="details">by <%= item.artist %></p>
                            <p class="details"><b>Listeners:</b> <%= item.listeners %></p>
                        </div>
                    </li>
                <% }); %>
            </ol>
        </main>

        <%- include("partials/footer.html") -%>
    </body>
</html>
