<!DOCTYPE html>
<html lang="en-IE">
    <head>
        <%- include("partials/metadata.html") -%>

        <title>Charts | Lyric Loop</title>
    </head>
    <body>
        <%- include("partials/header.html") -%>

        <main>
            <h1 class="section-title">Top 10 Songs</h1>

            <ol class="featured-list">
                <% chartData.forEach((item, index) => { %>
                    <li class="featured-item">
                        <img
                            src="<%= item.image %>"
                            alt="Image of <%= item.artist %>"
                            class="featured-image"
                            loading="lazy"
                        >

                        <div class="info">
                            <!-- <h3 class="song-title"><%= index + 1 %>. <%= item.track %></h3> -->
                            <h2 class="name"><%= index + 1 %>. <%= item.track %></h2>

                            <!-- <p class="artist-name">by <%= item.artist %></p> -->
                            <!-- <p class="listeners"><b>Listeners:</b> <%= item.listeners %></p> -->

                            <!-- TODO make the artist name clickable -->
                            <p class="details">by <%= item.artist %></p>
                            <p class="details"><b>Listeners:</b> <%= item.listeners %></p>
                        </div>
                    </li>
                <% }); %>
            </ol>
        </main>

        <%- include("partials/footer.html") -%>
    </body>
</html>
