<!DOCTYPE html>
<html lang="en-IE">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Charts | Lyric Loop</title>

        <link rel="stylesheet" href="/css/main.css" type="text/css">
    </head>
    <body>
        <%- include("partials/header.html") -%>

        <main>
            <h1 class="section-title">Top 10 Songs</h1>

            <ul class="chart-list">
                <% chartData.forEach((item, index) => { %>
                    <li>
                        <img src="<%= item.image %>" alt="<%= item.artist %>" class="artist-image" loading="lazy">

                        <div class="song-info">
                            <h3 class="song-title"><%= index + 1 %>. <%= item.track %></h3>

                            <p class="artist-name">by <%= item.artist %></p>
                            <p class="listeners">Listeners: <%= item.listeners %></p>
                        </div>
                    </li>
                <% }); %>
            </ul>
        </main>

        <%- include("partials/footer.html") -%>
    </body>
</html>
