<!DOCTYPE html>
<html lang="en-IE">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Featured Artists | Lyric Loop</title>

        <link rel="stylesheet" href="/css/main.css" type="text/css">
    </head>

    <body>
        <%- include("partials/header.html") -%>

        <main>
            <h2 class="section-title">Featured Artists</h2>

            <ul class="featured-list">
                <% featuredData.forEach((item) => { %>
                    <li class="featured-item">
                        <img src="<%= item.image %>" alt="<%= item.name %>" class="featured-image">

                        <div class="info">
                            <h3 class="name"><%= item.name %></h3>
                            <p class="details"><%= item.details %></p>
                        </div>
                    </li>
                <% }); %>
            </ul>
        </main>

        <%- include("partials/footer.html") -%>
    </body>
</html>
