<!DOCTYPE html>
<html lang="en-IE">
    <head>
        <%- include("partials/metadata.html") -%>

        <title><%= data.artist %> – <%= data.title %> Lyrics | Lyric Loop</title>
    </head>

    <body>
        <%- include("partials/header.html") -%>

        <main>
            <h1 class="section-title">
                <a href="/artist/<%= data.artist.toLowerCase().replace(/\s+/g, '-') %>"><%= data.artist %></a>
                &ndash; <%= data.title %>
            </h1>

            <% if (data.youtubeVideo) { %>
                <iframe
                    width="560"
                    height="315"
                    src="<%= data.youtubeVideo %>"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
            <% } else { %>
                <p>Music video not available.</p>
            <% } %>

            <h2>Lyrics</h2>
            <div class="lyrics">
                <%- data.lyrics || "Lyrics not found." %>
            </div>

            <h2>Info</h2>
            <% if (data.image) { %>
                <img
                    src="<%= data.image %>"
                    alt="Album cover for '<%= data.title %>' by <%= data.artist %>"
                    loading="lazy"
                >
            <% } else { %>
                <p>Album cover not available.</p>
            <% } %>

            <h3>
                <a href="/artist/<%= data.artist.toLowerCase().replace(/\s+/g, '-') %>"><%= data.artist %></a>
                &ndash; <%= data.title %>
            </h3>

            <p><b>Release Date:</b> <%= data.releaseDate %></p>
        </main>

        <%- include("partials/footer.html") -%>
    </body>
</html>
