<!DOCTYPE html>
<html lang="en-IE">
    <head>
        <%- include("partials/metadata.html") -%>

        <!-- TODO Add the search query to this? e.g. "Results for 'kendrick lamar'" -->
        <title>Search Results | Lyric Loop</title>
    </head>

    <body>
        <%- include("partials/header.html") -%>

        <main>
            <!-- TODO Add the search query to this? -->
            <h1 class="section-title">Search Results</h1>

            <% if (results.length === 0) { %>
                <p>No results found for your search. Try a different query.</p>
            <% } else { %>
                <ul class="featured-list">
                    <% results.forEach(result => { %>
                        <li class="featured-item">
                            <% if (result.image) { %>
                                <img
                                    src="<%= result.image %>"
                                    alt="Album cover for '<%= result.title %>' by <%= result.artist %>"
                                    class="featured-image"
                                    loading="lazy"
                                >
                            <% } %>

                            <div class="info">
                                <h2 class="name">
                                    <a href="/<%= result.artist %>-<%= result.title %>-lyrics">
                                        <%= result.title || "Unknown Track" %>
                                    </a>
                                </h2>

                                <p class="details">by
                                    <% if (result.artist) { %>
                                        <a href="/artist/<%= result.artist %>">
                                            <%= result.artist %>
                                        </a>
                                    <% } else { %>
                                        "Unknown Artist"
                                    <% } %>
                                </p>
                            </div>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>

        <%- include("partials/footer.html") -%>
    </body>
</html>
